/* this establishes the border-box for the page and the text adjust size so that it has a better mobile form*/
html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* This makes all elements and before and after these elements have border-box because they won't inherit it from the html without seting it to inherit  */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* this elimenates all margins from the body makeing the body the same size as the html page */
body {
    margin: 0
}

/* this is somthing out of a reset style sheet to make a bunch of stuff block incase we use them */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* This  sets the heyperlinks to have no background color and to make the text decorations skip objects*/
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* This sets there to be no outline over any hyperlinks */
a:active,
a:hover {
    outline-width: 0
}

/* Gets rid of border styles from images */
img {
    border-style: none
}

/* this is the defualt overflow setting and it makes it so any text that goes over the button and input just go outside of the box without changeing the size of the box or adding a scroll bar  */
button,
input {
    overflow: visible
}

/* This is a reset style sheet thing to make sure the defualt of is in play */
button {
    text-transform: none
}

/* This sets the font family size and the space between the lines */
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

/* this cuts off images from on the x axis so that they can't be bigger then the page */
html {
    overflow-x: hidden
}

/* This sets the size of the all of the headings and of the size class */
h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3,
.size {
    font-size: 24px
}

h4 {
    font-size: 20px
}

/* This sets up the font family weight and the basic margin of the headings */
h1,
h2,
h3,
h4,
    {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

/* this aligns the images of the site verticlly */
img {
    vertical-align: middle
}

/* Lets the hyperlink inherit their font color from thier parent elements */
a {
    color: inherit
}

/* This sets the side bar styles with height, width, background color. It also makes sure that it is pulleed in frount of the rest of the page and it, lets a scroll bar apear only if nesesary and makes sure that the position is fixed no matter what*/
.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

/* This makes it so the side bar disapears when the page is smaller then 992 pixels*/
@media (max-width:992px) {
    .sidebar.collapse {
        display: none
    }
}

/* this makes it so that when the page is bigger then 993 pixels then large things are hidden and the sidebar is hidden*/
@media (min-width:993px) {
    .hide-large {
        display: none !important
    }

    .sidebar.collapse {
        display: block !important
    }
}

/* this adds a width, padding, takes away floats and borders while aligning the text to the left. It sets the display to block, makes white space normal, and gets rid of an outline on all elements that are in the bar-item class and decended from the bar-block class */
.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

/* This ceters text in all elements with the bar-item class as long as one of thier parents classes is bar-block or center */
.bar-block.center .bar-item {
    text-align: center
}

/* Makes sure that every in the white class will always have a white background and blakc text */
.white {
    color: #000 !important;
    background-color: #fff !important
}

/* This gives everything in the card class has two box shadows one slightly longer and more transparent*/
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* This gives every element with the class card-2 two box shandows with one much longer then the other and more visable*/
.card-2 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* This next section allows the side nav to take a little time to open so it looks like it is sliding open intead of just appearing open*/
.animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

/* This sets the size of everything in the large class and makes it permenant */
.large {
    font-size: 18px !important
}

/* This increases the font size for everything in the xxlarge class and makes it permenant */
.xxlarge {
    font-size: 36px !important
}

.bar-item.mobile {
    text-align: center
}

.bar .bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.btn,
.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn,
.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.disabled,
.btn:disabled,
.button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.bar .button {
    white-space: normal
}

@media (max-width:600px) {
    .hide-small {
        display: none !important
    }

    .mobile {
        display: block;
        width: 100% !important
    }
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.text-orange {
    color: #ff9800 !important
}

.top,
.bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.top {
    top: 0
}

.bar {
    width: 100%;
    overflow: hidden
}

.center .bar {
    display: inline-block;
    width: auto
}

.container:after,
.container:before,
.panel:after,
.panel:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before,
.cell-row:before,
.cell-row:after,
.clear:after,
.clear:before,
.bar:before,
.bar:after {
    content: "";
    display: table;
    clear: both
}

.left-align {
    text-align: left !important
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important
    }
}

.right {
    float: right !important
}

.orange {
    color: #000 !important;
    background-color: #ff9800 !important
}

.border-orange {
    border-color: #ff9800 !important
}

.margin-right {
    margin-right: 16px !important
}

.hide {
    display: none !important
}

.tooltip,
.display-container {
    position: relative
}

.animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.container,
.panel {
    padding: 0.01em 16px
}

.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.margin-bottom {
    margin-bottom: 16px !important
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.center {
    text-align: center !important
}

.col,
.third,
.quarter {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .quarter {
        width: 24.99999%
    }

    .third {
        width: 33.33333%
    }

    .col.m5 {
        width: 41.66666%
    }

    .col.m7 {
        width: 58.33333%
    }

}

.row-padding,
.row-padding>.third,
.row-padding>.quarter,
.row-padding>.col {
    padding: 0 8px
}

.circle {
    border-radius: 50%
}

.opacity,
.hover-opacity:hover {
    opacity: 0.60
}

.opacity-off,
.hover-opacity-off:hover {
    opacity: 1
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.section {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.tooltip .text {
    display: none
}

.tooltip:hover .text {
    display: inline-block
}

.padding {
    padding: 8px 16px !important
}

.show {
    display: block !important;
}