.theme-d2 {
    color: #fff !important;
    background-color: #000000 !important
}

.theme-l1 {
    color: #fff !important;
    background-color: #333333 !important
}

.theme-l2 {
    color: #fff !important;
    background-color: #33333334 !important
}